<%= erb(:without_events) %>

<div class="container">
  <div class="jumbotron">
    <div class="container intro">
    <h1 id="welcome">Welcome to RushHour</h1>
    <p id="welcome"> What a fun project this was! </p>
    <p id="welcome"></p>
  </div>
  </div>
</div>

<div class="instructions">
  <h3>Use the search bar for analytics!</h3>
</div>
